.megamenu.hiremain .megamenu-footer .megamenu-footerImg {
    max-width: 780px
}

.team-main .team-slider .team-row .person-box .photo figure img {
    margin: 0
}

.team-main .team-slider .team-row .person-box .photo:before {
    background-image: url('');
    background-position: bottom center;
    left: 50%;
    top: 50%;
    min-width: 250px;
    min-height: 250px;
    transform: translate(-50%, -50%)
}

.leadership-team .team-main .team-slider .team-row .person-box .photo:after {
    content: "";
    left: 50%;
    top: -21px
}

.team-main .team-slider .team-row .person-box .photo {
    margin: auto auto 60px
}

.link-icon {
    top: -5px
}

.talent-blackStrip {
    display: none
}

.talent-menu-link {
    display: none !important
}

.logo-tagline {
    display: none
}

.top-nav>ul>li.has-submenu>a {
    cursor: default
}

.sml-menu .sub-menu {
    white-space: nowrap
}

body #olark-container .olark-top-bar p {
    color: #333 !important
}

body #olark-container .olark-operator-message a {
    color: #333 !important
}

.megamenu.hiremain .menublocks .block-item {
    margin-right: 40px
}

@media(max-width:1351px) {
    .megamenu.hiremain .menublocks .block-item {
        color: #ccc
    }
}

.leadinModal.leadinModal-theme-default.leadinModal-v3 .leadinModal-content {
    max-width: 750px;
    width: 100% !important;
    top: 50%;
    transform: translateY(-50%);
    background: url(../../../themes/uplers/assets/images/mainpopup-bg.png)no-repeat;
    background-position: right center;
    background-color: rgba(255, 255, 255, .9) !important;
    min-height: 390px;
    display: flex;
    align-items: center;
    border-radius: 0;
    background-size: contain
}

.leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview .leadin-button {
    font-size: 18px;
    font-weight: 700;
    background: #646FD4 !important;
    color: #000 !important;
    width: auto;
    border-radius: 40px;
    margin-top: 12px;
    transition: .5s all
}

.leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview .leadin-button:hover {
    background: #000 !important;
    color: #fff !important
}

.leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview h4 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: #000
}

.leadin-preview-wrapper {
    padding: 80px 250px 80px 60px !important
}

.leadinModal-v3 .leadinModal-close:before {
    font-size: 35px !important;
    text-align: center !important;
    line-height: 40px !important;
    padding: 0 !important
}

.leadinModal .leadinModal-content label {
    color: #000 !important;
    font-weight: 500 !important
}

.leadinModal .leadin-input-wrapper {
    margin-bottom: 20px !important
}

#leadin-content-form-wrapper {
    padding: 80px !important;
    background: rgba(255, 255, 255, .8);
    box-shadow: none !important
}

.leadinModal .leadin-input-wrapper input[type=text],
.leadinModal .leadin-input-wrapper input[type=email],
.leadinModal .leadin-input-wrapper input[type=tel],
.leadinModal .leadin-input-wrapper input[type=number],
.leadinModal .leadin-input-wrapper select,
.leadinModal .leadin-input-wrapper textarea {
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    cursor: text !important;
    border-bottom: solid 1px #000 !important;
    outline: none !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 35px !important;
    color: #000 !important
}

.leadinModal.leadinModal-v3 .leadin-button {
    font-weight: 700 !important;
    font-size: 18px;
    background: #ffdb2d !important;
    color: #000 !important;
    border-radius: 40px;
    width: auto;
    margin: 0 !important;
    transition: .5s all
}

.leadinModal.leadinModal-v3 .leadin-button:hover {
    background: #000 !important;
    color: #fff !important
}

.leadin-message-wrapper h4 {
    font-size: 25px !important;
    color: #000 !important;
    font-weight: 700 !important;
    margin-bottom: 30px !important
}

.leadin-message-wrapper p {
    font-size: 16px !important;
    line-height: 1.5 !important
}

.leadinModal-description-body {
    margin-bottom: 10px
}

.leadinModal-description-body p {
    font-size: 25px !important;
    font-weight: 400;
    color: #000 !important;
    margin-bottom: 25px !important
}

.leadinModal.leadinModal-theme-default {
    padding: 0 !important
}

.thank-you-message p {
    color: #000 !important;
    font-size: 25px !important;
    font-weight: 700 !important;
    line-height: 1.5 !important;
    padding: 0 20px !important
}

.leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-thanks .leadinModal-content:before {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, .7);
    content: "";
    position: absolute;
    z-index: -1
}

.leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-thanks .leadinModal-content {
    min-height: 300px
}

.thank-you-button .leadin-close-button {
    background: #646FD4 !important;
    color: #000 !important;
    font-weight: 700 !important;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none !important;
    padding: 0 25px;
    line-height: 45px;
    min-height: 45px;
    border-radius: 45px;
    outline: none !important;
    transition: .5s all
}

.leadinModal-thanks .thank-you-button .leadin-close-button:hover {
    background: #000 !important;
    color: #fff !important;
    text-decoration: none !important
}

.megamenu .menublocks .block-item .lvl-3-menu {
    padding: 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s all
}

.megamenu .menublocks .block-item .lvl-3-menu li {
    font-size: 16px;
    position: relative
}

.megamenu .menublocks .block-item .lvl-3-menu li:before {
    content: "-";
    font-size: 23px;
    margin: 0 5px 0 0
}

.submenu-toggle2 {
    position: relative;
    display: inline-block;
    width: 10px
}

.submenu-toggle2:after {
    content: "";
    height: 7px;
    width: 7px;
    margin: -9px 0 0 3px;
    vertical-align: middle;
    transition: .5s all;
    border-left: solid 1px #000;
    display: block;
    border-bottom: solid 1px #000;
    transform: rotate(-135deg)
}

.sml-menu .sub-menu ul li.has-sml-menu-2-lvl {
    min-width: 290px
}

.remote-menu-link.sml-menu .sub-menu .has-sml-menu-2-lvl .submenu-toggle2 {
    margin: 0 0 0 -25px
}

.remote-menu-link.sml-menu .sub-menu .lvl-2-smlmenu {
    padding: 5px 0 15px 15px;
    display: none
}

.remote-menu-link.sml-menu .sub-menu .lvl-2-smlmenu li {
    font-size: 14px;
    line-height: 10px
}

.remote-menu-link.sml-menu .sub-menu .lvl-2-smlmenu li a {
    color: #777
}

.remote-menu-link.sml-menu .sub-menu .lvl-2-smlmenu li a:hover {
    color: #000
}

footer.ort .copyrights {
    border-top: solid 1px #4d4e4e;
    text-align: center;
    padding: 30px 0 0
}

@media(min-width:1351px) {
    .megamenu .menublocks .block-item li.has-menu-3-lvl:hover .lvl-3-menu {
        opacity: 1;
        visibility: visible
    }

    .megamenu .menublocks .block-item li.has-menu-3-lvl:hover .submenu-toggle {
        transform: rotate(180deg);
        top: -9px;
        left: 6px
    }

    .sml-menu .sub-menu .has-sml-menu-2-lvl:hover .lvl-2-smlmenu {
        display: block
    }

    .sml-menu .sub-menu .has-sml-menu-2-lvl:hover .submenu-toggle2 {
        transform: rotate(90deg);
        top: -8px;
        left: -1px
    }
}

@media(max-width:1550px) {
    .megamenu.hiremain .megamenu-footer .megamenu-footerImg {
        max-width: 600px
    }

    .leadin-preview-wrapper {
        padding: 50px 220px 50px 30px !important
    }

    .leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview h4 {
        font-size: 22px
    }

    .leadinModal-description-body p {
        margin-bottom: 20px !important;
        font-size: 18px !important
    }

    .leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview .leadin-button {
        font-size: 16px
    }

    .leadinModal.leadinModal-theme-default.leadinModal-v3 .leadinModal-content {
        min-height: 300px;
        max-width: 600px;
        max-height: inherit !important
    }

    .leadinModal .leadin-input-wrapper label {
        padding: 0 !important
    }

    #leadin-content-form-wrapper {
        padding: 50px !important
    }

    .thank-you-message p {
        font-size: 20px !important
    }

    .thank-you-button .leadin-close-button {
        line-height: 40px;
        min-height: 40px;
        font-size: 16px
    }

    .megamenu .menublocks .block-item .lvl-3-menu li {
        font-size: 14px !important
    }

    .megamenu .menublocks .block-item .lvl-3-menu {
        padding: 8px 0
    }

    .megamenu .menublocks .block-item .lvl-3-menu li:before {
        font-size: 19px
    }
}

@media(max-width:1350px) {
    .megamenu .menublocks .block-item li.has-menu-3-lvl .submenu-toggle {
        top: 0;
        transform: rotate(90deg);
        left: 3px;
        height: 10px
    }

    .megamenu .menublocks .block-item li.has-menu-3-lvl .submenu-toggle:after {
        border-color: #fff;
        border-width: 2px;
        margin: 0
    }

    .megamenu .menublocks .block-item .lvl-3-menu {
        padding: 5px 0;
        display: none
    }

    .megamenu .menublocks .block-item .lvl-3-menu li:before {
        color: #fff;
        font-size: 20px
    }

    .megamenu .menublocks .block-item li.has-menu-3-lvl.open .submenu-toggle {
        transform: rotate(-90deg);
        top: 1px;
        left: 6px
    }

    .megamenu .menublocks .block-item li.has-menu-3-lvl.open .lvl-3-menu {
        opacity: 1;
        visibility: visible;
        display: block
    }

    .sml-menu .sub-menu .lvl-2-smlmenu li a {
        color: #666
    }
}

@media(max-width:991px) {

    .leadinModal.leadinModal-theme-default.leadinModal-v3 .leadin-preview-wrapper,
    .leadinModal.leadinModal-theme-default.leadinModal-v3 #leadin-content-form-wrapper {
        padding: 50px !important
    }

    .leadinModal.leadinModal-theme-default.leadinModal-v3 .leadinModal-content {
        min-height: 250px
    }

    body .leadinModal.leadinModal-theme-default.leadinModal-v3 .leadin-content-body {
        padding: 0 !important
    }

    body .leadinModal.leadinModal-theme-default.leadinModal-v3 .leadin-preview-wrapper {
        padding: 30px 150px 30px 30px !important
    }

    body .leadinModal.leadinModal-theme-default.leadinModal-v3 #leadin-content-form-wrapper {
        padding: 30px !important
    }
}

@media(max-width:767px) {
    .leadin-message-wrapper h4 {
        font-size: 22px !important
    }

    .leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-form .leadinModal-content {
        align-items: flex-start
    }

    .thank-you-message p {
        font-size: 16px !important
    }

    .thank-you-button .leadin-close-button {
        padding: 0 15px;
        line-height: 35px;
        min-height: 35px;
        font-size: 15px
    }
}

@media(max-width:480px) {
    body .leadinModal.leadinModal-theme-default.leadinModal-v3 .leadin-preview-wrapper {
        padding: 20px 150px 30px 20px !important
    }

    .leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview h4 {
        font-size: 20px
    }

    .leadinModal-description-body p {
        font-size: 15px !important
    }

    .leadinModal.leadinModal-theme-default.leadinModal-v3.leadinModal-preview .leadin-button {
        font-size: 15px;
        padding: 0 20px !important;
        height: 35px;
        line-height: 35px
    }
}

.projects .wrapper {
    padding: 0
}

.projects .black_bg_content_sec {
    background: #151515
}

@media(max-width:1280px) {
    .projects .black_banner_sec {
        min-height: 400px;
        background-position: center center !important
    }
}

@media(max-width:767px) {
    .projects .black_banner_sec {
        min-height: 350px
    }

    .projects .technology-list .sub-title {
        display: inline-block
    }

    .projects .technology-list.gray .row [class*=col-]:not(:last-child) {
        margin-bottom: 20px
    }
}

.services .wrapper {
    padding: 0
}

.team .wrapper {
    padding: 0
}

.team-about {
    padding: 150px 0 0;
    overflow: hidden
}

.team-about .container {
    max-width: 100%;
    margin-left: 0;
    padding: 0
}

.team-about .desc-blk {
    padding: 0 50px
}

.team-about .desc-blk .section-title {
    font-size: 45px;
    margin-bottom: 40px
}

.team-about .desc-blk ul {
    padding-left: 20px
}

.team-about .desc-blk ul li {
    font-size: 22px;
    font-weight: 600;
    list-style-type: disc;
    margin-bottom: 15px
}

@media(max-width:1650px) {
    .team-about {
        padding-top: 100px
    }

    .team-about .desc-blk .section-title {
        font-size: 30px;
        margin-bottom: 30px
    }

    .team-about .desc-blk ul li {
        font-size: 18px
    }

    .team .commonBanner .banner-caption {
        margin-top: 50px
    }
}

@media(max-width:1280px) {
    .team-about {
        padding-top: 80px
    }

    .team-about .desc-blk .section-title {
        font-size: 25px;
        margin-bottom: 20px
    }

    .team-about .desc-blk ul li {
        font-size: 16px
    }
}

@media(max-width:991px) {
    .team-about {
        padding-top: 60px
    }

    .team-about .desc-blk {
        padding: 0 15px
    }
}

@media(max-width:767px) {
    .team-about {
        padding-top: 50px
    }

    .team-about .desc-blk .section-title {
        font-size: 22px;
        margin-bottom: 15px
    }

    .team-about .desc-blk ul li {
        font-size: 15px;
        margin-bottom: 10px
    }
}

@media(max-width:575px) {
    .team-about .imgblk figure {
        margin-bottom: 20px
    }
}

#regatherformloader.page-loader-wrapper {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .95);
    overflow: hidden;
    text-align: center
}

#regatherformloader.page-loader-wrapper p {
    font-size: 25px;
    margin-top: 10px;
    font-weight: 500;
    color: #000;
    max-width: 650;
    margin: auto;
    line-height: 1.5
}

#regatherformloader.page-loader-wrapper .loader {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

#regatherformloader .md-preloader .pl-red {
    stroke: #f44336
}

#regatherformloader .preloader {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    background-image: url(//www.uplers.com/wp-content/themes/uplers/assets/images/loader2.png);
    background-size: 100%
}

#regatherformloader .preloader.pl-size-xl {
    width: 75px;
    height: 75px
}

#regatherformloader .preloader.pl-size-l {
    width: 60px;
    height: 60px
}

#regatherformloader .preloader.pl-size-md {
    width: 50px;
    height: 50px
}

#regatherformloader .preloader.pl-size-sm {
    width: 40px;
    height: 40px
}

#regatherformloader .preloader.pl-size-xs {
    width: 25px;
    height: 25px
}

#regatherformloader .spinner-layer {
    display: none !important;
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: #646FD4;
    -ms-opacity: 1;
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5.332s cubic-bezier(.4, 0, .2, 1) infinite both;
    -moz-animation: fill-unfill-rotate 5.332s cubic-bezier(.4, 0, .2, 1) infinite both;
    -o-animation: fill-unfill-rotate 5.332s cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: fill-unfill-rotate 5.332s cubic-bezier(.4, 0, .2, 1) infinite both
}

#regatherformloader .right {
    float: right !important
}

#regatherformloader .gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit
}

.gap-patch.circle {
    width: 1000%;
    left: -450%
}

#regatherformloader .circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit
}

.circle-clipper .circle {
    width: 200%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0
}

#regatherformloader .circle-clipper.left .circle {
    left: 0;
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    -moz-transform: rotate(129deg);
    -ms-transform: rotate(129deg);
    -o-transform: rotate(129deg);
    transform: rotate(129deg);
    -webkit-animation: left-spin 1.333s cubic-bezier(.4, 0, .2, 1) infinite both;
    -moz-animation: left-spin 1.333s cubic-bezier(.4, 0, .2, 1) infinite both;
    -o-animation: left-spin 1.333s cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: left-spin 1.333s cubic-bezier(.4, 0, .2, 1) infinite both
}

#regatherformloader .circle-clipper.right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    -moz-transform: rotate(-129deg);
    -ms-transform: rotate(-129deg);
    -o-transform: rotate(-129deg);
    transform: rotate(-129deg);
    -webkit-animation: right-spin 1.333s cubic-bezier(.4, 0, .2, 1) infinite both;
    -moz-animation: right-spin 1.333s cubic-bezier(.4, 0, .2, 1) infinite both;
    -o-animation: right-spin 1.333s cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: right-spin 1.333s cubic-bezier(.4, 0, .2, 1) infinite both
}

@-webkit-keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes container-rotate {
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }

    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }

    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }

    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }

    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@keyframes fill-unfill-rotate {
    12.5% {
        transform: rotate(135deg)
    }

    25% {
        transform: rotate(270deg)
    }

    37.5% {
        transform: rotate(405deg)
    }

    50% {
        transform: rotate(540deg)
    }

    62.5% {
        transform: rotate(675deg)
    }

    75% {
        transform: rotate(810deg)
    }

    87.5% {
        transform: rotate(945deg)
    }

    to {
        transform: rotate(1080deg)
    }
}

@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg)
    }

    50% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    to {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg)
    }
}

@keyframes left-spin {
    from {
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }

    50% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    to {
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
}

@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }

    50% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg)
    }

    to {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
}

@-moz-keyframes right-spin {
    from {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }

    50% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }

    to {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
}

@keyframes right-spin {
    from {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }

    50% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }

    to {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
}