.repeat-booking .wrapper {
    padding-top: 0
}

@media(min-width:1350px) {
    .repeat-booking .mainlogo svg {
        fill: #fff
    }

    .repeat-booking .site-header.allot-position:hover .mainlogo svg,
    .repeat-booking .site-header.allot-position.fixed-header .mainlogo svg {
        fill: #000
    }

    .repeat-booking .top-nav>ul>li>a {
        color: #fff
    }

    .repeat-booking .top-nav>ul>li>a:after {
        background: #fff
    }

    .repeat-booking .top-nav>ul>li .submenu-toggle:after {
        border-color: #fff
    }

    .repeat-booking.menu-opened .mainlogo svg {
        fill: #000
    }

    .repeat-booking.menu-opened .top-nav>ul>li>a {
        color: #000
    }

    .repeat-booking.menu-opened .top-nav>ul>li>a:after {
        background: #000
    }

    .repeat-booking.menu-opened .top-nav>ul>li .submenu-toggle:after {
        border-color: #000
    }

    .repeat-booking .site-header.allot-position.fixed-header .top-nav>ul>li>a {
        color: #000
    }

    .repeat-booking .site-header.allot-position.fixed-header .top-nav>ul>li .submenu-toggle:after {
        border-color: #000
    }

    .repeat-booking .site-header.allot-position:hover .top-nav>ul>li>a {
        color: #000
    }

    .repeat-booking .top-nav>ul>li.podcast-link>a {
        color: #000
    }

    .repeat-booking .top-nav>ul>li.podcast-link>a:hover {
        background: #fff
    }
}

@media(max-width:1350px) {

    .mainlogo svg,
    .menulogo svg {
        fill: #fff
    }

    .hamburger .hamburger-inner:before,
    .hamburger .hamburger-inner:after {
        background: #fff
    }

    .hamburger.is-active .hamburger-inner:before,
    .hamburger.is-active .hamburger-inner:after {
        background: #000
    }
}

.banner_repeat_booking {
    padding: 0 0 130px;
    text-align: center;
    position: relative;
    text-align: center;
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: flex-end;
    height: 100vh;
    background-attachment: fixed !important
}

.banner_repeat_booking h1 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
    color: #fff
}

.repeat_booking {
    padding: 170px 0 104px
}

.repeat_booking .container {
    max-width: 1185px
}

.repeat_booking img {
    max-width: 220px
}

.repeat_booking h2 {
    margin-bottom: 15px
}

.repeat_booking p {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px
}

.repeat_booking p a {
    color: #f65c03;
    font-weight: 700
}

.repeat_booking p a:hover {
    text-decoration: underline
}

.repeat_booking ol {
    margin-bottom: 30px;
    padding-left: 20px
}

.repeat_booking ol li {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
    list-style-type: decimal
}

.What_did_they_want {
    padding: 100px 0;
    position: relative;
    overflow: hidden
}

.What_did_they_want:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #f8f8f8;
    height: 100%;
    width: 65%
}

.What_did_they_want .container {
    max-width: 1205px
}

.What_did_they_want h2 {
    margin-bottom: 40px
}

.What_did_they_want p {
    font-size: 18px;
    line-height: 1.9
}

.How_did_we_help {
    padding: 100px 0 48px;
    text-align: center
}

.How_did_we_help h2 {
    margin-bottom: 30px
}

.How_did_we_help .sub_txt {
    font-size: 25px;
    margin-bottom: 70px
}

.How_did_we_help .container {
    max-width: 1175px
}

.How_did_we_help .How_did_we_help_boxs {
    text-align: left;
    margin-bottom: 100px
}

.How_did_we_help .How_did_we_help_boxs img {
    max-width: 70px;
    margin-bottom: 10px
}

.How_did_we_help .How_did_we_help_boxs h6 {
    font-size: 25px;
    margin-bottom: 20px
}

.How_did_we_help .How_did_we_help_boxs p {
    font-size: 18px
}

.How_did_we_help .container .row .col-md-6:nth-child(even) {
    padding-left: 65px
}

.The_development_curve {
    text-align: center;
    padding: 163px 0 70px;
    background-color: #f2f2f2
}

.The_development_curve .container {
    max-width: 1155px
}

.The_development_curve h2 {
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    padding: 35px 50px 35px 0;
    border: 3px solid #9b9b9b;
    border-left: 0
}

.The_development_curve h2:before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    background: #9b9b9b;
    height: 17px;
    width: 17px;
    border-radius: 50%
}

.The_development_curve .h2_btm_line {
    padding: 45px 0;
    border: 3px solid #9b9b9b;
    margin-top: -3px;
    width: 60%;
    border-right: 0;
    border-bottom: 0
}

.The_development_curve .line_up_around {
    padding: 35px 0;
    border: 3px solid #9b9b9b;
    margin-left: 0;
    margin-right: 0;
    border-left: 0
}

.The_development_curve .row {
    max-width: 1050px;
    margin: 0 auto
}

.The_development_curve .bottom_boxs {
    padding: 30px 55px 30px
}

.The_development_curve .The_development_curve_box {
    text-align: left;
    margin-bottom: 30px
}

.The_development_curve .The_development_curve_box img {
    max-width: 50px;
    margin-top: -60px;
    margin-bottom: 20px
}

.The_development_curve .The_development_curve_box h6 {
    font-size: 25px;
    margin-bottom: 20px
}

.The_development_curve .The_development_curve_box h6 sup {
    margin-right: 3px
}

.The_development_curve .The_development_curve_box ul {
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px
}

.The_development_curve .The_development_curve_box ul li {
    list-style-type: disc;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2
}

.The_development_curve .line_up_around {
    position: relative
}

.The_development_curve .line_up_around:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #9b9b9b;
    height: 17px;
    width: 17px;
    border-radius: 50%
}

.technologies_we_used {
    padding: 140px 0;
    background-color: #fff;
    text-align: center
}

.technologies_we_used h2 {
    margin-bottom: 70px
}

.technologies_we_used .logos {
    display: flex;
    align-items: center;
    justify-content: center
}

.technologies_we_used figure {
    padding: 0 15px;
    flex: 0 0 20%;
    max-width: 20%
}

.technologies_we_used figure img {
    max-width: 205px;
    max-height: 78px
}

.technologies_we_used .container {
    max-width: 1155px
}

.technologies_we_used a {
    display: inline-block;
    width: 19%
}

.technologies_we_used .max_100 img {
    max-width: 100px
}

.technologies_we_used a img {
    max-width: 170px
}

.Meet_the_team {
    padding: 140px 0;
    text-align: center;
    background: #f2f2f2
}

.Meet_the_team h2 {
    margin-bottom: 50px
}

.Meet_the_team .container {
    max-width: 1480px
}

.Meet_the_team img {
    max-width: 1430px;
    margin: 0 auto;
    width: 100%
}

.why_uplers_approach {
    padding: 130px 0;
    background-color: #0f001f;
    color: #fff;
    text-align: left
}

.why_uplers_approach h2 {
    margin-bottom: 40px
}

.why_uplers_approach h2 span {
    text-transform: inherit;
    font-size: 30px
}

.why_uplers_approach h6 {
    font-size: 16px
}

.why_uplers_approach h6 span {
    font-size: 50px;
    margin-right: 18px;
    color: #f65c03;
    vertical-align: middle;
    font-weight: 900
}

.why_uplers_approach p {
    margin-bottom: 15px
}

.why_uplers_approach .container {
    max-width: 1155px
}

.why_uplers_approach .wrd {
    margin-bottom: 13px
}

.understand_model_better_1 {
    padding: 40px 0;
    background-color: #f65c03
}

.understand_model_better_1 h5 {
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    color: #fff;
    justify-content: center;
    font-size: 25px
}

.understand_model_better_1 h5 span {
    margin-right: 35px
}

.understand_model_better_1 a {
    background-color: #0f001f;
    color: #fff;
    text-transform: initial;
    font-size: 24px;
    text-transform: initial;
    padding: 6px 50px
}

.understand_model_better_1 a:hover {
    background-color: #fff;
    color: #0f001f
}

.the_resultes {
    padding: 140px 0 110px
}

.the_resultes .container {
    max-width: 1535px
}

.the_resultes h2 {
    margin-bottom: 30px;
    font-size: 35px
}

.the_resultes .the_resulte_box_txt {
    max-width: 550px;
    margin-left: auto;
    padding-top: 45px
}

.the_resultes .the_resulte_box_txt p {
    font-size: 18px;
    line-height: 28px
}

.the_resultes img {
    max-width: 640px;
    margin-left: auto;
    display: block;
    width: 100%
}

.testimonial1 {
    padding: 210px 0
}

.testimonial1 h2 {
    font-size: 35px;
    color: #fff
}

.testimonial1 .container {
    max-width: 1585px
}

.testimonial1 .testimonial_box {
    background-color: #f65c03;
    width: 100%;
    padding-bottom: 19px
}

.testimonial1 .w_50 {
    width: 50%;
    float: left;
    position: relative
}

.testimonial1 .owner_box {
    position: absolute;
    bottom: 11px;
    right: 12px;
    color: #fff
}

.testimonial1 .owner_box h6 {
    font-size: 22px;
    font-weight: 600
}

.testimonial1 .owner_box p {
    font-size: 18px;
    margin-bottom: 0
}

.testimonial1 .coma_test_img {
    max-width: 80px;
    margin-bottom: 20px
}

.testimonial1 .fancy_box_link {
    position: relative;
    position: relative;
    margin-top: -70px;
    margin-bottom: -90px;
    padding-left: 25px
}

.testimonial1 .fancy_box_link img {
    width: 100%
}

.testimonial1 .fancy_box_link .play_icon {
    max-width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.testimonial1 .testimonial1_text_box {
    max-width: 570px;
    margin-left: auto
}

@media screen and (max-width:1200px) {
    .banner_repeat_booking {
        padding: 400px 0 100px
    }

    .banner_repeat_booking h1 {
        font-size: 40px;
        line-height: 1.3
    }

    .repeat_booking {
        padding: 100px 0
    }

    .repeat_booking h2,
    .What_did_they_want h2,
    .How_did_we_help h2,
    .technologies_we_used h2,
    .Meet_the_team h2,
    .why_uplers_approach h2,
    .the_resultes h2 {
        font-size: 34px;
        margin-bottom: 25px
    }

    .The_development_curve h2 {
        font-size: 34px
    }

    .What_did_they_want,
    .How_did_we_help,
    .The_development_curve,
    .technologies_we_used,
    .Meet_the_team,
    .why_uplers_approach,
    .the_resultes {
        padding: 70px 0
    }

    .How_did_we_help .sub_txt {
        font-size: 20px;
        margin-bottom: 50px
    }

    .How_did_we_help .How_did_we_help_boxs {
        margin-bottom: 50px
    }

    .testimonial1 {
        padding: 130px 0
    }

    .testimonial1 .fancy_box_link {
        margin-top: -40px;
        margin-bottom: -40px;
        max-width: 480px
    }

    .testimonial1 h2 {
        font-size: 32px
    }
}

@media screen and (max-width:992px) {
    .banner_repeat_booking {
        padding: 300px 0 100px
    }

    .banner_repeat_booking h1 {
        font-size: 34px;
        line-height: 1.3
    }

    .repeat_booking,
    .The_development_curve,
    .Meet_the_team,
    .why_uplers_approach,
    .the_resultes {
        padding: 70px 0
    }

    .repeat_booking h2,
    .What_did_they_want h2,
    .How_did_we_help h2,
    .technologies_we_used h2,
    .Meet_the_team h2,
    .why_uplers_approach h2,
    .the_resultes h2 {
        font-size: 30px;
        margin-bottom: 15px
    }

    .why_uplers_approach h2 span {
        font-size: 24px
    }

    .The_development_curve h2 {
        font-size: 30px
    }

    .repeat_booking p,
    .What_did_they_want p {
        font-size: 16px;
        line-height: 1.5
    }

    .repeat_booking h2 br {
        display: block
    }

    .repeat_booking .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 40px
    }

    .repeat_booking .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .What_did_they_want,
    .How_did_we_help,
    .technologies_we_used {
        padding: 50px 0
    }

    .How_did_we_help .How_did_we_help_boxs h6 {
        font-size: 20px;
        margin-bottom: 15px
    }

    .How_did_we_help .How_did_we_help_boxs p {
        font-size: 16px;
        margin-bottom: 0
    }

    .How_did_we_help .How_did_we_help_boxs img {
        max-width: 50px
    }

    .How_did_we_help .container .row .col-md-6:nth-child(even) {
        padding-left: 0
    }

    .The_development_curve .The_development_curve_box h6 {
        font-size: 22px
    }

    .The_development_curve .h2_btm_line {
        padding: 35px 0
    }

    .technologies_we_used a img {
        max-width: 100px
    }

    .why_uplers_approach h2 span {
        font-size: 20px;
        display: block
    }

    .why_uplers_approach .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .why_uplers_approach h6 span {
        font-size: 40px
    }

    .technologies_we_used figure img {
        max-width: 150px;
        max-height: 50px
    }

    .understand_model_better_1 {
        padding: 35px 0
    }

    .understand_model_better_1 h5 {
        font-size: 22px
    }

    .testimonial1 h2 {
        font-size: 28px;
        margin-bottom: 30px
    }

    .testimonial1 .coma_test_img {
        max-width: 50px;
        margin-bottom: 10px
    }

    .How_did_we_help .sub_txt {
        font-size: 18px;
        line-height: 25px
    }
}

@media screen and (max-width:767px) {
    .banner_repeat_booking {
        padding: 240px 0 100px
    }

    .banner_repeat_booking h1 {
        font-size: 25px;
        line-height: 1.2
    }

    .repeat_booking h2,
    .What_did_they_want h2,
    .How_did_we_help h2,
    .technologies_we_used h2,
    .Meet_the_team h2,
    .why_uplers_approach h2,
    .the_resultes h2 {
        font-size: 22px;
        margin-bottom: 15px
    }

    .repeat_booking p,
    .What_did_they_want p {
        font-size: 15px
    }

    .repeat_booking,
    .How_did_we_help,
    .The_development_curve,
    .technologies_we_used,
    .Meet_the_team,
    .why_uplers_approach,
    .the_resultes {
        padding: 50px 0
    }

    .repeat_booking .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .repeat_booking .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .What_did_they_want {
        padding: 0
    }

    .What_did_they_want:before {
        display: none
    }

    .The_development_curve .The_development_curve_box {
        margin-bottom: 0
    }

    .How_did_we_help .How_did_we_help_boxs {
        text-align: center;
        margin-bottom: 50px;
        text-align: center;
        max-width: 500px;
        margin: 0 auto 30px
    }

    .The_development_curve .line_up_around:before {
        display: none
    }

    .The_development_curve h2 {
        font-size: 22px;
        padding: 20px 0;
        display: block;
        border: none
    }

    .The_development_curve h2:before {
        display: none
    }

    .The_development_curve .The_development_curve_box img {
        margin-top: 0;
        max-width: 35px;
        margin-top: 0;
        margin-bottom: 10px
    }

    .The_development_curve .The_development_curve_box ul {
        margin-top: 0;
        margin-bottom: 10px;
        margin-top: 10px
    }

    .The_development_curve .line_up_around,
    .The_development_curve .bottom_boxs {
        padding: 25px 0 0;
        border: 3px solid #9b9b9b;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        border-bottom: 0;
        border: none
    }

    .The_development_curve .h2_btm_line {
        border: none;
        padding: 0;
        border: none
    }

    .The_development_curve .The_development_curve_box ul li {
        margin-bottom: 10px;
        font-size: 15px
    }

    .The_development_curve .The_development_curve_box h6 {
        font-size: 18px;
        margin-bottom: 0
    }

    .The_development_curve .mb_order_3 {
        order: 3
    }

    .The_development_curve .mb_order_2 {
        order: 2
    }

    .The_development_curve .mb_order_1 {
        order: 1
    }

    .technologies_we_used a {
        width: 100%;
        margin-bottom: 30px
    }

    .technologies_we_used a img {
        max-width: 80px;
        width: 100%
    }

    .technologies_we_used h2 {
        margin-bottom: 30px
    }

    .technologies_we_used .logos {
        flex-wrap: wrap
    }

    .technologies_we_used figure {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        margin: 15px 0
    }

    .why_uplers_approach .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .why_uplers_approach h6 span {
        font-size: 25px
    }

    .why_uplers_approach h6 {
        margin-bottom: 10px
    }

    .why_uplers_approach h4 {
        font-size: 22px
    }

    .understand_model_better_1 h5 span {
        display: block;
        margin-bottom: 20px;
        margin-right: 0
    }

    .understand_model_better_1 h5 {
        display: block;
        font-size: 20px
    }

    .understand_model_better_1 a {
        min-height: 35px !important;
        font-size: 16px;
        line-height: 48px
    }

    .How_did_we_help .sub_txt {
        font-size: 16px
    }

    .How_did_we_help .How_did_we_help_boxs h6 {
        font-size: 16px;
        margin-bottom: 10px
    }

    .How_did_we_help .How_did_we_help_boxs p {
        font-size: 15px
    }

    .the_resultes .the_resulte_box_txt {
        max-width: 100%;
        padding-top: 0
    }

    .repeat_booking ol li {
        font-size: 15px;
        line-height: 22px
    }

    .testimonial1 {
        padding: 0
    }

    .testimonial1 .testimonial_box {
        padding: 40px 0
    }

    .testimonial1 h2 {
        font-size: 26px;
        margin-bottom: 20px
    }

    .testimonial1 .testimonial1_text_box {
        max-width: 100%
    }

    .testimonial1 .fancy_box_link {
        max-width: 480px;
        margin: 0 auto;
        padding-bottom: 30px;
        padding: 0
    }

    .testimonial1 .owner_box {
        position: inherit;
        margin-bottom: 20px
    }

    .testimonial1 .fancy_box_link .play_icon {
        max-width: 50px
    }

    .why_uplers_approach p {
        font-size: 15px
    }

    .the_resultes .row {
        flex-direction: column-reverse
    }

    .the_resultes .the_resulte_box_txt p {
        font-size: 15px;
        line-height: 22px
    }
}

@media(max-width:480px) {
    .technologies_we_used figure {
        flex: 0 0 50%;
        max-width: 50%;
        margin: 15px 0
    }
}

.The_development_curve .bottom_boxs .animated:nth-child(1) {
    animation-delay: .6s !important
}

.The_development_curve .bottom_boxs .animated:nth-child(2) {
    animation-delay: .4s !important
}

.The_development_curve .bottom_boxs .animated:nth-child(3) {
    animation-delay: .2s !important
}

@media(max-width:767px) {
    .The_development_curve .bottom_boxs .animated:nth-child(1) {
        animation-delay: .2s !important;
        order: 3
    }

    .The_development_curve .bottom_boxs .animated:nth-child(2) {
        animation-delay: .4s !important;
        order: 2
    }

    .The_development_curve .bottom_boxs .animated:nth-child(3) {
        animation-delay: .6s !important;
        order: 1
    }
}