.faqs .wrapper {
    padding-top: 0
}

.faqs .top-nav>ul>li.podcast-link a {
    background: #000;
    color: #fff
}

.banner-module .banner-wrap {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    min-height: 558px;
    background-size: cover !important
}

.banner-module .banner-desc {
    color: #fff;
    text-align: center;
    margin-top: 60px
}

.banner-module .banner-desc h1 {
    color: #000;
    font-size: 45px;
    margin-bottom: 30px
}

.banner-module .banner-desc p {
    font-size: 20px;
    color: #b2b2b2;
    line-height: 25px
}

.banner-module .searchBox {
    position: relative;
    max-width: 530px;
    margin: auto
}

.banner-module .search-icon {
    position: absolute;
    background: url(../../../themes/uplers/assets/images/faqs/search-icon.svg)no-repeat;
    height: 25px;
    width: 20px;
    background-size: 100%;
    left: 18px;
    z-index: 1
}

.banner-module .searchBox input[type=text] {
    border-bottom: solid 1px #000;
    padding: 0 48px 0 0;
    min-height: 42px
}

.banner-module .searchBox .cta-button {
    position: absolute;
    right: 0;
    background: 0 0;
    border: 0;
    padding: 0;
    display: block;
    height: 42px;
    bottom: 0;
    width: 42px
}

.banner-module .searchBox .or-txt {
    margin-top: 25px;
    color: #686868;
    margin-bottom: 60px;
    line-height: 25px;
    word-break: break-word
}

@media(max-width:1500px) {
    .banner-module .banner-wrap {
        min-height: 400px
    }

    .banner-module .banner-desc h1 {
        margin-bottom: 15px
    }
}

@media(max-width:1200px) {
    .banner-module .banner-desc {
        margin-top: 0
    }

    .banner-module .banner-desc h1 {
        font-size: 35px
    }

    .banner-module .banner-wrap {
        min-height: 350px;
        background-position: right top !important
    }
}

@media(max-width:991px) {
    .banner-module .banner-desc h1 {
        font-size: 25px;
        margin-bottom: 20px
    }
}

@media(max-width:767px) {
    .banner-module .banner-desc {
        margin-top: 40px
    }

    .banner-module .banner-wrap {
        min-height: 300px
    }

    .banner-module .banner-desc h1 {
        margin-bottom: 10px
    }
}

.tab-contents {
    display: none
}

.faqs-main {
    padding: 100px 0;
    position: relative
}

.faqs-main .faqs-category-title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 72px
}

.faqs-main .panel-desc {
    display: none;
    padding: 10px 0 35px 25px;
    line-height: 1.5;
    color: #000
}

.faqs-main .panel-main .panel-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
    padding: 0 25px 9px;
    letter-spacing: .2px;
    cursor: pointer
}

.faqs-main .panel-main .panel-title:after {
    content: "+";
    position: absolute;
    left: 0;
    font-size: 31px;
    font-weight: 400;
    top: 0;
    color: #000
}

.faqs-main .panel-main li.open .panel-title:after {
    content: "_";
    margin: -11px 0 0;
    font-size: 25px;
    color: #000
}

.faqs-main .panel-main li:last-child {
    margin: 0
}

.faqs-main .panel-main li {
    color: #000;
    border-bottom: solid 1px #cecece;
    margin-bottom: 37px
}

.faqs-main .panel-main li.open .panel-title {
    font-weight: 600;
    color: #000
}

.faqs-main .panel-desc p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .2px
}

.faqs-main .panel-desc p a,
.faqs-main .panel-desc a {
    color: #000;
    text-decoration: underline
}

.faqs-main .panel-desc p a:hover {
    color: #676767
}

.faqs-main .panel-desc p:last-child {
    margin-bottom: 0
}

.faqs-main .panel-desc ol,
.faqs-main .panel-desc ul {
    padding-left: 17px
}

.faqs-main .panel-desc ol li {
    list-style-type: decimal;
    border-bottom: 0;
    margin-bottom: 10px;
    line-height: 22px
}

.faqs-main .panel-desc ul li {
    list-style-type: disc;
    border-bottom: 0;
    margin-bottom: 10px;
    line-height: 22px
}

.faq-tabs ul li .iconBox figure img {
    max-height: 48px
}

.faq-category {
    position: relative
}

.faqs-main .panel-main li.no-record {
    border: 0;
    margin: 0
}

.faqs-main .panel-main li.no-record h5 {
    font-size: 18px;
    margin-bottom: 10px
}

.faqs-main .panel-main li.no-record p {
    margin: 0
}

.faqs-main .search-title {
    font-weight: 400;
    margin-bottom: 50px;
    overflow-wrap: break-word
}

.reset-search-button {
    margin-top: 20px
}

.reset-search-button a {
    color: #000;
    text-decoration: underline
}

.reset-search-button a:hover {
    text-decoration: none;
    color: #777
}

.reset-search-button a i {
    font-size: 20px;
    margin-right: 8px
}

.faq-tabs {
    margin-bottom: 75px
}

.faq-tabs ul {
    display: flex;
    margin: 0 -15px;
    justify-content: space-around
}

.faq-tabs ul li {
    padding: 0 15px;
    cursor: pointer
}

.faq-tabs ul li a {
    color: #000
}

.faq-tabs ul li .iconBox {
    text-align: center;
    min-width: 70px;
    transition: .5s all
}

.faq-tabs ul li .iconBox figure {
    opacity: .4;
    text-align: center;
    margin-bottom: 12px;
    transition: .5s all;
    min-height: 48px
}

.faq-tabs ul li .iconBox .tab-tile {
    font-size: 14px;
    font-weight: 500;
    opacity: .5;
    transition: .5s all
}

.faq-tabs ul li:hover .iconBox figure,
.faq-tabs ul li.active .iconBox figure {
    opacity: 1
}

.faq-tabs ul li:hover .iconBox .tab-tile,
.faq-tabs ul li.active .iconBox .tab-tile {
    opacity: 1;
    font-weight: 600
}

.loadingmessage {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, .5);
    justify-content: center;
    z-index: 13
}

.loadingmessage img {
    position: relative;
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 150px
}

@media(min-width:1921px) {
    .faqs-main:before {
        height: 230px;
        top: -230px
    }
}

@media(max-width:1200px) {
    .faqs-main {
        padding: 70px 0
    }

    .faqs-main:before {
        top: -95px;
        height: 95px
    }

    .faq-tabs {
        margin-bottom: 60px
    }

    .faqs-main .faqs-category-title {
        font-size: 30px;
        margin-bottom: 30px
    }
}

@media(max-width:991px) {
    .faq-tabs {
        margin-bottom: 40px
    }

    .faqs-main:before {
        top: -70px;
        height: 70px
    }

    .faq-tabs ul li .iconBox {
        height: 100%;
        min-width: inherit
    }

    .faq-tabs ul li .iconBox figure {
        min-height: 35px
    }

    .faq-tabs ul li .iconBox figure img {
        max-height: 35px
    }

    .faq-tabs ul li .iconBox .tab-tile {
        margin-bottom: auto
    }

    .faqs-main .panel-desc {
        padding-top: 0
    }
}

@media(max-width:767px) {
    .faqs-main {
        padding: 60px 0
    }

    .faqs-main:before {
        height: 60px;
        top: -60px
    }

    .faq-category .searchBox .or-txt {
        margin-bottom: 20px
    }

    .reset-search-button {
        position: static;
        margin-bottom: 40px
    }

    .faqs-main .panel-main .panel-title {
        font-size: 15px
    }

    .faqs-main .panel-desc,
    .faqs-main .panel-desc p {
        font-size: 15px;
        line-height: 1.5
    }

    .faqs-main .panel-main .panel-title:after {
        font-size: 28px
    }

    .faqs-main .panel-main li.open .panel-title:after {
        font-size: 24px;
        margin: -8px 0 0
    }

    .faqs-main .panel-main li {
        margin-bottom: 25px
    }

    .faqs-main .panel-desc {
        padding-bottom: 25px
    }

    .loadingmessage img {
        max-width: 100px
    }
}

@media(max-width:605px) {
    .faq-tabs ul {
        flex-wrap: wrap;
        justify-content: center
    }

    .faq-tabs ul li {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        margin-bottom: 30px
    }

    .faq-tabs ul li:last-child {
        margin: 0
    }

    .faqs-main .faqs-category-title {
        font-size: 25px;
        line-height: 25px
    }

    .faqs-main:before {
        height: 35px;
        top: -35px
    }
}

@media screen and (min-width:0\0) {
    .banner-module .banner-wrap {
        height: 615px
    }
}

.offshore-faqs .faqs-main {
    padding: 100px 0;
    position: relative
}

.offshore-faqs .faqs-main .faqs-category-title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 72px
}

.offshore-faqs .faqs-main .panel-desc {
    display: none;
    padding: 10px 0 35px 25px;
    line-height: 1.5;
    color: #000
}

.offshore-faqs .faqs-main .panel-main .panel-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
    padding: 0 25px 9px;
    letter-spacing: .2px;
    cursor: pointer
}

.offshore-faqs .faqs-main .panel-main .panel-title:after {
    content: "+";
    position: absolute;
    left: 0;
    font-size: 31px;
    font-weight: 400;
    top: 0;
    color: #000
}

.offshore-faqs .faqs-main .panel-main li.open .panel-title:after {
    content: "_";
    margin: -11px 0 0;
    font-size: 25px;
    color: #000
}

.offshore-faqs .faqs-main .panel-main li:last-child {
    margin: 0
}

.offshore-faqs .faqs-main .panel-main li {
    color: #000;
    border-bottom: solid 1px #cecece;
    margin-bottom: 37px
}

.offshore-faqs .faqs-main .panel-main li.open .panel-title {
    font-weight: 600;
    color: #000
}

.offshore-faqs .faqs-main .panel-desc p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .2px
}

.offshore-faqs .faqs-main .panel-desc p a,
.faqs-main .panel-desc a {
    color: #000;
    text-decoration: underline
}

.offshore-faqs .faqs-main .panel-desc p a:hover {
    color: #676767
}

.offshore-faqs .faqs-main .panel-desc p:last-child {
    margin-bottom: 0
}

.offshore-faqs .faqs-main .panel-desc ol,
.faqs-main .panel-desc ul {
    padding-left: 17px
}

.offshore-faqs .faqs-main .panel-desc ol li {
    list-style-type: decimal;
    border-bottom: 0;
    margin-bottom: 10px;
    line-height: 22px
}

.offshore-faqs .faqs-main .panel-desc ul li {
    list-style-type: disc;
    border-bottom: 0;
    margin-bottom: 10px;
    line-height: 22px
}

.offshore-faqs .faq-category {
    position: relative
}

.offshore-faqs .faqs-main .panel-main li.no-record {
    border: 0;
    margin: 0
}

.offshore-faqs .faqs-main .panel-main li.no-record h5 {
    font-size: 18px;
    margin-bottom: 10px
}

.offshore-faqs .faqs-main .panel-main li.no-record p {
    margin: 0
}

.offshore-faqs .faqs-main .search-title {
    font-weight: 400;
    margin-bottom: 50px
}

.offshore-faqs .faq-tabs {
    margin-bottom: 75px
}

.offshore-faqs .faq-tabs ul {
    display: flex;
    margin: 0 -15px;
    justify-content: space-around
}

.offshore-faqs .faq-tabs ul li {
    padding: 0 15px;
    cursor: pointer
}

.offshore-faqs .faq-tabs ul li a {
    color: #000
}

.offshore-faqs .faq-tabs ul li .iconBox {
    text-align: center;
    min-width: 172px;
    transition: .5s all
}

.offshore-faqs .faq-tabs ul li .iconBox figure {
    opacity: .4;
    text-align: center;
    margin-bottom: 12px;
    transition: .5s all;
    min-height: 48px
}

.offshore-faqs .faq-tabs ul li .iconBox .tab-tile {
    font-size: 14px;
    font-weight: 500;
    opacity: .5;
    transition: .5s all
}

.offshore-faqs .faq-tabs ul li:hover .iconBox figure,
.faq-tabs ul li.active .iconBox figure {
    opacity: 1
}

.offshore-faqs .faq-tabs ul li:hover .iconBox .tab-tile,
.faq-tabs ul li.active .iconBox .tab-tile {
    opacity: 1;
    font-weight: 600
}

.offshore-faqs .loadingmessage {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, .5);
    justify-content: center;
    z-index: 13
}

.offshore-faqs .loadingmessage img {
    position: relative;
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 150px
}

@media(min-width:1921px) {
    .offshore-faqs .faqs-main:before {
        height: 230px;
        top: -230px
    }
}

@media(max-width:1200px) {
    .offshore-faqs .faqs-main {
        padding: 70px 0
    }

    .offshore-faqs .faqs-main:before {
        top: -95px;
        height: 95px
    }

    .offshore-faqs .faq-tabs ul li .iconBox {
        min-width: 160px
    }

    .offshore-faqs .faq-tabs {
        margin-bottom: 60px
    }

    .offshore-faqs .faqs-main .faqs-category-title {
        font-size: 30px;
        margin-bottom: 30px
    }
}

@media(max-width:991px) {
    .offshore-faqs .faq-tabs {
        margin-bottom: 40px
    }

    .offshore-faqs .faqs-main:before {
        top: -70px;
        height: 70px
    }

    .offshore-faqs .faq-tabs ul li {
        flex: 0 0 16.66%;
        max-width: 16.66%
    }

    .offshore-faqs .faq-tabs ul li .iconBox {
        height: 100%;
        min-width: inherit
    }

    .offshore-faqs .faq-tabs ul li .iconBox figure {
        min-height: 35px
    }

    .offshore-faqs .faq-tabs ul li .iconBox figure img {
        max-height: 35px
    }

    .offshore-faqs .faq-tabs ul li .iconBox .tab-tile {
        margin-bottom: auto
    }

    .offshore-faqs .faqs-main .panel-desc {
        padding-top: 0
    }
}

@media(max-width:767px) {
    .offshore-faqs .faqs-main {
        padding: 60px 0
    }

    .offshore-faqs .faqs-main:before {
        height: 60px;
        top: -60px
    }

    .offshore-faqs .faq-category .searchBox .or-txt {
        margin-bottom: 20px
    }

    .offshore-faqs .reset-search-button {
        position: static;
        margin-bottom: 40px
    }

    .offshore-faqs .faqs-main .panel-main .panel-title {
        font-size: 15px
    }

    .offshore-faqs .faqs-main .panel-desc,
    .faqs-main .panel-desc p {
        font-size: 15px;
        line-height: 1.5
    }

    .offshore-faqs .faqs-main .panel-main .panel-title:after {
        font-size: 28px
    }

    .offshore-faqs .faqs-main .panel-main li.open .panel-title:after {
        font-size: 24px;
        margin: -8px 0 0
    }

    .offshore-faqs .faqs-main .panel-main li {
        margin-bottom: 25px
    }

    .offshore-faqs .faqs-main .panel-desc {
        padding-bottom: 25px
    }

    .offshore-faqs .loadingmessage img {
        max-width: 100px
    }
}

@media(max-width:480px) {
    .offshore-faqs .faq-tabs ul {
        flex-wrap: wrap;
        justify-content: center
    }

    .offshore-faqs .faq-tabs ul li {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        margin-bottom: 30px
    }

    .offshore-faqs .faq-tabs ul li:last-child {
        margin: 0
    }

    .offshore-faqs .faqs-main .faqs-category-title {
        font-size: 25px;
        line-height: 25px
    }

    .offshore-faqs .faqs-main:before {
        height: 35px;
        top: -35px
    }
}

@media screen and (min-width:0\0) {
    .offshore-faqs .banner-module .banner-wrap {
        height: 615px
    }
}

.offshore-faqs .wrapper {
    padding: 0
}

.offshore-faqs .top-nav>ul>li {
    display: none
}

.offshore-faqs .top-nav>ul>li.remote-menu-link {
    display: inline-block !important
}

.offshore-faqs .header-right {
    justify-content: center
}

.offshore-faqs .top-nav>ul>li.remote-menu-link.hl-btn a:after {
    display: none
}

.offshore-faqs .top-nav>ul>li.remote-menu-link.hl-btn a {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    display: inline-block
}

.offshore-faqs .top-nav>ul>li.remote-menu-link.hl-btn a:hover {
    background: #fff;
    color: #000
}

.offshore-faqs .top-nav>ul>li.remote-menu-link.hl-btn.wb a {
    background: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 0;
    display: inline-block
}

.offshore-faqs .top-nav>ul>li.remote-menu-link.hl-btn.wb a:hover {
    background: #000;
    color: #fff;
    border-radius: 0
}

@media(max-width:1351px) {
    .offshore-faqs .top-nav>ul>li.remote-menu-link {
        display: block !important
    }
}